$background-color-light: white;
$text-title-color-light: #111827;
$background-color-dark: #030712;
$background-color-dark-second: #111827;
$text-color-light: #4B5563;
$text-title-color-dark: #F9FAFB;
$text-color-dark: #D1D5DB;