@import "app/mixin";

.skills {
  padding: 96px 0;

  @media screen and (max-width: 900px) {
    padding: 60px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .skillsList {
      width: 100%;
      margin-top: 48px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 15px;
      row-gap: 48px;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
      }

      @media screen and (max-width: 500px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
      }


      .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .icon {
          width: 64px;
          height: 64px;

          @media screen and (max-width: 500px) {
            width: 50px;
            height: 50px;
          }

          @media screen and (max-width: 400px) {
            width: 32px;
            height: 32px;
          }
        }

        > p {
          font-size: 18px;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 130px;

          @media screen and (max-width: 500px) {
            font-size: 16px;
            max-width: 100px;
          }

          @media screen and (max-width: 400px) {
            font-size: 14px;
            max-width: 80px;
          }
        }
      }
    }
  }
}